// Variables for colors

$c-black: #000000;
$c-white: #FFFFFF;
$c-blue: #337AB7;
$c-blue-dark: #00355F;
$c-yellow: #FFCB00;
$c-grey: #646464;
$c-grey-light: #DEDEDE;
$c-transparent: rgba(0, 0, 0, 0);
