// elements - headings

.heading {
  font: $f-heading;

  @include respond-to-min($bp-small) {
    font-size: 22px;
  }
}

.heading--spaced {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.heading--blue {
  color: $c-blue;
}

.heading--grey {
  color: $c-grey;
}

.heading--medium {
  font-size: 22px;

  @include respond-to-min($bp-small) {
    font-size: 30px;
  }
}

.heading--large {
  font-size: 38px;

  @include respond-to-min($bp-small) {
    font-size: 50px;
  }
}

.heading--mega {
  font-size: 38px;

  @include respond-to-min($bp-small) {
    font-size: 58px;
  }
}

.copy {
  font: $f-body;
  color: $c-grey;
}
